<html th:replace="~{student/studentbase::layout(~{::section})}">
	 <head></head>
	 <body>
	 	<section>
	 		<div class="row">
				 <h1 class="text-center text-info">Change Your Password</h1>
			  </div>	
			  <div class="row">
			  		<div class="col-sm-7 mt-3 shadow mx-auto p-5 bg-warning bg-opacity-50">
			  			
			  			<div th:if="${message}" class="alert alert-warning alert-dismissible fade show" role="alert">
				     	   <span th:text="${message}"></span>
				     	   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				     	</div>
				     	
			  			<form method="post">
			  				<div class="row">
			  					<div class="col-sm-6 py-2">
			  						<label>Enter Old Password : </label>
			  					</div>
			  					<div class="col-sm-6 py-2">
			  						<input type="password" required="required" class="form-control bg-light" placeholder="Enter old Password..." name="oldpass">
			  					</div>
			  					
			  					<div class="col-sm-6 py-2">
			  						<label>Enter New Password : </label>
			  					</div>
			  					<div class="col-sm-6 py-2">
			  						<input type="password" required="required" class="form-control bg-light" placeholder="Enter New Password..." name="newpass">
			  					</div>
			  					
			  					<div class="col-sm-6 py-2">
			  						<label>Enter Confirm Password : </label>
			  					</div>
			  					<div class="col-sm-6 py-2">
			  						<input type="password" required="required" class="form-control bg-light" placeholder="Enter Confirm Password..." name="confirmpass">
			  					</div>
			  					
			  					<div class="col-sm-12 pt-4 text-center">
			  						<button type="submit" class="btn btn-info mx-auto rounded-0 px-4 py-2">Submit</button>
			  					</div>
			  				</div>
			  			</form>
			  		</div>
			  </div>
	 		
	 	</section>
	 </body>
	</html>