<html th:replace="~{student/studentbase::layout(~{::section})}">
	<head>
		
	</head>
	<body>
		<section>
			<div class="row">
						<h1 class="text-center text-info">Student Dashboard</h1>
						
						<div class="col-sm-10 mx-auto shadow  bg-opacity-50" style="background-color: darkcyan">
							<div class="row">
								<div class="col-md-5">
									<div class="text-center" th:if="${stdinfo. profilepic}">
										<img alt="image not found from database" class="rounded-circle mt-3 mb-2" height="150px" width="150px" th:src="@{'/profile/'+${stdinfo.profilepic}}">
									</div>
									<div class="text-center" th:unless="${stdinfo.profilepic}">
										<img alt="image not found" class="rounded-circle mt-3 mb-2" height="150px" width="150px" src="../img/image.jpg">
									</div>
									<div class="p-3">
										<form method="post" class="px-4" style="display: flex; justify-content: space-around;" enctype="multipart/form-data">
											<input type="file" name="file" class="form-control w-50 mx-1" required="required">
											<button type="submit" class="btn btn-primary w-50 mx-1">Upload Pic</button>
										</form>
									</div>
								</div>
								<div class="col-md-7">
									<div class="d-flex justify-content-center align-items-center mt-5 ">
										
										<table>
											<tr>
												<th>Name:</th>
												<td th:text="${stdinfo.name}"></td>
											</tr>
											
											<tr>
												<th>Mobile No: </th>
												<td th:text="${stdinfo.contactno}"></td>
											</tr>
											<tr>
												<th>E-mail: </th>
												<td th:text="${stdinfo.emailaddress}"></td>
											</tr>
											<tr>
												<th>Branch: </th>
											<td th:text="${stdinfo.branch}"></td>
											</tr>
										
										</table>
										
									</div>
								</div>
							</div>
						</div>
					</div>
		</section>
	</body>
</html>